# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.sqlite3

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Coverage
.coverage
coverage.xml
htmlcov/

# Build artifacts
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hc

# Docker
*.pid

# Logs
*.log
